@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root{ /* Raiz do código para armazenamento de cores, fontes, etc */
    --primarypurple: #741b47;
    --primarysalmon: #ffc9ab;
    --secondarysalmon: #fff2eb;

    --primaryfont: 'Noto Serif', serif;
}

div.vo{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

main > h1{
    font-size: 3.8em;
}

div.form{
    padding: 50px;
    margin: auto;
    width: 25%;
    background-color: var(--primarypurple);
    border-radius: 15px;
}

div.form > div{
    padding: 20px;
    color: white;
    font-size: 1.1em;
}

div.form > div > label{
    padding-right: 6px;
}

div.form > div > input{
    width: 70%;
    padding: 5px;
    border-radius: 3px;
    border-style: solid;
    border-color: var(--primarysalmon);
}



div.buttons{
    display: flex;
    justify-content: center;
    padding: 25px;
}

div.buttons > div{
    padding: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

div.buttons > div > input{
    color: var(--primarypurple);
    background-color: white;
    border-radius: 10%;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-color: var(--primarysalmon);
    border-style: solid;
    border-radius: 10%;
    font-weight: bolder;
    transition-duration: 200ms;
}

div.buttons > div > input:hover{
    background-color: var(--primarypurple);
    border-color: white;
    color: var(--primarysalmon);
    cursor: pointer;
}

section > form > div{
    display: block;
}

#caixa-mae-login{
    width: 400px;
    height: 440px;
    background: var(--primarypurple);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}



#caixa-mae-login .popup{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.popup h2{
    text-align: center;
    color: #fff;
    font-size: 2.5em;
    font-weight: 900;
    margin-bottom: 10%;
}

form{
    width: 85%;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fff;
    margin: 25px 0;
    margin-top: 0;
    margin-bottom: 12%;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 0.8em;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 87%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 0.8em;
    color: #fff;
    font-weight: 600;
    padding: 0 5px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1em;
    color: #fff;
    line-height: 57px;
}

#show-password-btn{
    cursor: pointer;
}

.lembrar-senha{
    font-size: 0.7em;
    font-weight: 500;
    color: #fff;
    margin: -15px 0 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.lembrar-senha label{
    display: flex;
    align-items: center;
}

.lembrar-senha a{
    color: #fff;
    text-decoration: none;
    font-size: 500;
}

.lembrar-senha a:hover{
    text-decoration: underline;
}

.btn-login{
    width: 100%;
    height: 35px;
    background: var(--primarysalmon);
    border: none;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-bottom: 0.7%;
}

.login-register{
    color: #fff;
    text-align: center;
    font-size: 0.8em;
    margin-top: 10px;
}

.login-register a{
    text-decoration: none;
    color: var(--primarysalmon);
}