@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
div.app{
    margin-top: 2.5%;
    margin-left: 30%;
    padding-bottom: 4%;
    display: flex;
    max-width: 600px;
    overflow: hidden;
}

h2.carrouseltitle{
    font-size: 4em;
    font-family: 'Noto Serif';
}

.img-carrousel{
    width: 600px;
    height: 350px;
}

.img-container{
    transition: transform 1s;
}
  